@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@theme {
    --color-yellow: #FEFE00;        /* Primary light yellow */  
    --shadow-yellow: rgba(254, 254, 0, 0.5);        /* Shadow light yellow */  
    --color-dark-yellow: #7B7B43;   /* Dark yellow (placeholders, unavailable buttons) */
    --color-light-yellow: #FFFFB3;  /* Texts, cta */

    --color-dark-red: #800B14;      /* Backgrounds, shadows, active navbar button*/
    --color-light-red: #DF2D15;     /* Notifications, errors */

    --color-white: #FDFDFF;         /* Chat messages */ 
    --color-purple: #BE0082;        /* Match results, some shadows */
    --color-grey : #011627;         /* Main Backgrounds */
    --color-grey-2 : #091C2B;         /* Lighter grey, for contrast */
    --color-dark : #000E1A;         /* Pure black, for header / layout contrast */
    --color-offline : #A2A2A2;      /* Grey offline */
    --color-green : #33FB68;
    --font-display: "Inter", sans-serif; 
    --font-title: "Press Start 2P", sans-serif;
}   


@layer base {
    html {
        @apply bg-grey;
    }
    body, #root {
        height: 100vh;
    }
    * {
        @apply font-display;
    }
    h1 {
        @apply font-title;
        font-size: 1.3rem;
        text-shadow: 7px 5px 5px rgba(255, 0, 0, 0.4);
    }
    .yellow-shadow-btn {
        box-shadow: 0 0 5px var(--shadow-yellow);
    }
    .red-shadow-btn {
        box-shadow: 2px 2px 4px var(--color-dark-red);
    }
    .btn-dark-red {
        border-color: var(--color-dark-red)!important;
        color: var(--color-dark-red)!important;
    }
    .pink-shadow {
        box-shadow: 0px 1px 5px rgba(190, 0, 130, 0.7);
    }

    /* .progressive-blur-container {
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 50%;
        pointer-event: none;
      }
      
      .progressive-blur-container > .blur-filter {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }

      .progressive-blur-container > .blur-filter:nth-child(1) {
        backdrop-filter: blur(1px);
        mask: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 40%);
      }

      .progressive-blur-container > .blur-filter:nth-child(2) {
        backdrop-filter: blur(2px);
        mask: linear-gradient(rgba(0, 0, 0, 0) 10%, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 0) 50%);
      }
      
      .progressive-blur-container > .blur-filter:nth-child(3) {
        backdrop-filter: blur(4px);
        mask: linear-gradient(rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 60%);
      }
      
      .progressive-blur-container > .blur-filter:nth-child(4) {
        backdrop-filter: blur(8px);
        mask: linear-gradient(rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 0) 70%);
      }
      
      .progressive-blur-container > .blur-filter:nth-child(5) {
        backdrop-filter: blur(16px);
        mask: linear-gradient(rgba(0, 0, 0, 0) 40%, rgba(0, 0, 0, 1) 60%, rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0) 90%);
      }
      
      .progressive-blur-container > .blur-filter:nth-child(6) {
        backdrop-filter: blur(32px);
        mask: linear-gradient(rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1) 80%);
      }
      
      .progressive-blur-container > .blur-filter:nth-child(7) {
        z-index: 10;
        background-filter: blur(64px);
        mask: linear-gradient(rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1) 100%)
      } */
}

@layer components {
}
